.row-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 4em;
}

.row-item {
  margin: 1em;
  display: flex;
  flex-direction: column;
}

.letter-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.label {
  font-size: 12px;
  color: grey;
  text-align: center;
}
