.user-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.user-input {
  text-align: center;
  font-size: 25px;
  padding: 10px 10px 10px 5px;
  margin: 10px 10px 10px 5px;
  display: block;
  width: 30px;
  border: none;
  border-bottom: 3px solid #000000;
}

.option-row {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.option-row button {
  display: flex;
  margin: 1em;
  background-color: white;
  border: none;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: background 500ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.option-row button:hover,
.option-row button:focus {
  outline: none;
  color: rebeccapurple;
}

.option-row button:active {
  transform: scale(0.99);
}
