.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow: hidden;
  padding: 10px;
}

.title {
  text-align: center;
  font-weight: 100;
  padding: 0 0 0.5em 0;
  border-bottom: 1px lightgrey solid;
}

.App .container {
  width: 500px;
  margin: 0 auto;
}
